$minSmartPhonePixel: 40px;
$sectionBottom: 30px;
$secondaryColor: #a29d9d;
$submitColor: #cefff5;
$completedColor: #70e070;
$submitBorderColor: #47c7ad;
$cBlack: #1b1b1b;
$thirdColor: #eaeaea;
$disabledColor: #949292;
$cardBorder: 2px solid $secondaryColor;
$submitBorder: 2px solid $submitBorderColor;
$cardBorderRadius: 5px;
$titleFontSize: 26px;
